{% load mptt_tags %}
{% load comments %}

{% recursetree nodes %}
    {% get_latest_version as latest_version %}
    <div class="comments-node-container" data-level="{{ node.level }}">
        {# We skip the root node because it is used as a link to the parent_object (not an actual comment) #}
        {% if not node.is_root_node %}
            {% block comment %}
		        {% include "comments/comment.html" %}
            {% endblock comment %}
        {% endif %}
        {% if node.level < max_depth %}
            <div class="child-comments{% if not node.is_root_node %} left-comment-indent{% endif %}">
                {{ children }}
		        {# After the last child on each level we add the form to allow submission of a new comment at the children's level #}
		        {# Note: the root node is NOT a real comment, but the first level of visible comments are still it's children #}
		        {% block new_comment %}
		            <div class="comment-form new-comment {{ node.is_root_node|yesno:'root,non-root' }}">
					    <div class="comment-hidden-fields">
				            <input type="hidden" name="parent_id" value="{{ node.id }}">
				            <input type="hidden" name="message">
					    </div>
					    <div class="comment-visible-fields">
					        <textarea class="{% block post_textarea_class %}{% endblock post_textarea_class %}" name="message_holder"></textarea>
					        <button type="button" class="action-trigger" data-action="post-new">{% if node.is_root_node %}Submit New Comment{% else %}Submit Response{% endif %}</button>
					    	{% block extra_buttons %}{% endblock %}
					    </div>
					</div>
				{% endblock %}
            </div>
        {% endif %}
	</div>
{% endrecursetree %}

{% if not nodes %}
	{% block no_comments_message %}
		<p>No comments yet</p>
	{% endblock %}
{% endif %}